/* login page */

.login-page{
  height: 100vh;
  width: 100%;
  background: rgb(147,165,207);
  background: linear-gradient(90deg, rgba(147,165,207,1) 49%, rgba(228,239,233,1) 100%);
  color: rgb(0, 0, 0);
  font-family: 'Genos', sans-serif;
}

.login-page .redirect,
.register-page .redirect {
  font-size: 1rem !important;
  padding: 0;
  margin: 0;
}


.login-wild-section{
  width: 950px;
  height: 500px;
}

.login-wild-section > .login-left-section{
  height: 100%;
  width: 300px;
  background-image: url('./src/assets/pexels-daliladalprat-2055500.jpg');
  background-size: cover;
  background-position: center;
}

.login-wild-section > .login-right-section{
  height: 100%;
  width: calc(100% - 300px);
  background-color: rgb(213, 213, 213);
  position: relative;
}


.login-wild-section > .login-right-section h1{
  color: rgb(0, 0, 0);
}

.login-wild-section > .login-right-section p{
  font-size: 1.6rem;
}

.login-wild-section > .login-right-section label{
  font-size: 1.1rem;
}

.login-wild-section > .login-right-section .btn-submit{
  font-size: 1.3rem;
  font-weight: bold;
  padding: 6px 35px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  gap: 15px;
  transition: all 0.3s ease;
}

.login-wild-section > .login-right-section .btn-submit:hover{
  background-color: rgb(198, 198, 198);
}

/* login page - fin*/


.app{
  background-color: #eaedef;
  height: 100vh;
  width: 100%;
  display: flex;
}

.sidebar{
  width: 40vh;
  background-color: white;
  height: 100%;
  border-right: 1.5px solid #d1d1d1;
  padding: 30px;
}

.logo{
  color: blue;
}

.nav{
  width: 100%;
}

.nav-pills{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

.nav-item{
  list-style-type: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.nav-item:hover .nav-link{
  color: blue;
}

.nav-link{
  margin: 0;
  padding: 5px 12px;
  color: #676767;
}

.nav-item.active{
  background-color: rgb(234, 234, 234);

}

.nav-item.active .nav-link{
  color: blue;
}

.main{
  flex: 1;
  height: 100%;
}

.header{
  width: 100%;
  height: 55px;
  background-color: white;
  border-bottom: 1.5px solid #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profil{
  background-color: #d1d1d1;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.separator{
  width: 1px;
  height: 30px;
  background-color: red;
}


.left{
  width: 65%;
}

.makepost{
  width: 100%;
  background-color: white;
}

.comments input, .makepost input, .makepost textarea{
  background-color: #eaedef;
  border-radius: 15px;
  border: 1px solid rgb(188, 188, 188);
  padding-left: 20px;
}

.comments input::placeholder, .makepost input::placeholder, .makepost textarea::placeholder{
  color: rgb(31, 31, 31);
  opacity: 0.5;
}

.makepost .buttons .make-button{
  padding: 0;
}

.makepost .buttons .make-button i{
  font-size: 15px;
  color: #6c6c6c;
}

.makepost .btn-post{
  padding: 3px 10px;
  border-color: #a5a5a5;
}

.mainFil{
  height: calc(100vh - 55px);
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  display: flex;
  gap: 3px;
  justify-content: space-between;
}

.main{
  display: table;
}

.listPosts{
  width: 100%;
}

.post{
  width: 100%;
  background-color: white;
}

.post .username{
  font-size: 14px;
}

.post .time{
  font-size: 12px;
  opacity: .7;
}

.post-text{
  font-size: 13.5px;
}

.post-image{
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: bottom;
}


.post-buttons button{
  color: #555555;
  font-size: 14px;
}

.post-buttons .like{
  border: 0;
}

.post-buttons .like.active{
  color: blue;
  border: 0;
}

.liste-comment{
  font-size: 12.5px;
}

.comment  .btns{
  opacity: 0;
}

.comment:hover  .btns{
  opacity: 1 !important;
}

.right{
  height: 100%;
  /* background-color: #555555; */
  /* position: fixed; */
  flex: 1;
}

.filter{
  background-color: white;
}