.header {
    position: fixed;
    top: 0;
    left: 250px;
    /* Décalage pour ne pas chevaucher la sidebar */
    width: calc(100% - 250px);
    height: 60px;
    background-color: #1e1e2f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
    background: #292942;
    padding: 8px;
    border-radius: 5px;
}

.search-bar input {
    background: transparent;
    border: none;
    color: white;
    outline: none;
    padding: 5px;
}

.search-icon {
    margin-right: 8px;
}

.header-icons {
    display: flex;
    gap: 20px;
}

.icon {
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.icon:hover {
    color: #00aced;
}