.loginInputs {
    display: flex;
    flex-direction: column;
    background-color: blue;
}

.mainBox {
    display:grid;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: baseline;
}